# Compiled binaries and executables
host-credential-manager
host-credential-manager.exe
hcm-client/hcm-client
hcm-client/hcm-client.exe
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tgz

# Test binaries and coverage reports
*.test
*.out
*.prof

# Air hot-reload build directory
tmp/

# Local database store (automatically seeded/created at runtime)
data/

# cert pem
cert/*.pem
hcm-client/cert/*.pem

# OS-specific files
.DS_Store
